<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRecyclerView">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.smart.SmartV2RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.swipe.SwipeCompatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.swipe.SwipeRecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.recyclerview.Recycler1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.recyclerview.Recycler2Activity"
            android:exported="true" />
        <activity
            android:name=".ui.smart.SmartCompatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.smart.SmartV2CompatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.drag.DragSwipeListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.viewpager.ViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.stick.StickHeaderListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.wanandroid.ArticleListActivity"
            android:exported="true" />
    </application>
</manifest>